.info_11 {
    height: 23.033832550048828px;
    width: 77.32084655761719px;
    left: 1119.6474609375px;
    top: 33.048828125px;
    border-radius: nullpx;
    position: absolute;
    left: 77.48%;
    right: 17.16%;
    top: 0.69%;
    bottom: 98.82%;

    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;

    color: #828282;


}